---
Checks:    >
  bugprone-*,
  clang-analyzer-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -bugprone-narrowing-conversions,
  -bugprone-not-null-terminated-result,
  -bugprone-reserved-identifier,
  -bugprone-sizeof-expression,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-security.insecureAPI.strcpy,
  -google-readability-todo,
  -misc-unused-parameters,
  -performance-no-int-to-ptr,

...
