/tmp
/build*/
/cmake-build*/
/Makefile
/Testing/

/.cmake_dirty
/ejdb.mk

DartConfiguration.tcl
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
cmake_install.cmake
compile_commands.json
compilation.db

.codelite
.idea
.dep.inc

*.iml
*.status
*.dylib
*.upload
*.so
*.so.*
*.a
*.exp
*.exe
*.sdf
*.suo
*.def
*.exp
*.lib
*.zip
*.cache
*.tag.gz
*.tgz
*.pyc
*.tags

