*.o
*.vlog
*.log
*.status
*.dylib
*.upload
*.so
*.so.*
*.a
*.exp
*.exe
*.sdf
*.suo
*.def
*.exp
*.lib
*.zip
*.cache
*.tag.gz
*.tgz
*.pyc
*.tags
.dep.inc
/ejdbdll
/node_modules
/configure.gypi

addressbook*
autom4te.cache/
config.log
config.status

/npm-debug.log
/.idea/workspace.xml

/tcejdb/*.dll
/tcejdb/i686-w64*
/tcejdb/x86_64-w64*
/tcejdb/tools/win32
/tcejdb/Makefile
/tcejdb/libtcejdb.a
/tcejdb/libtcejdb.so
/tcejdb/libtcejdb.so.9
/tcejdb/libtcejdb.so.9.11.0
/tcejdb/tcamgr
/tcejdb/tcamttest
/tcejdb/tcatest
/tcejdb/tcawmgr.cgi
/tcejdb/tcbmgr
/tcejdb/tcbmttest
/tcejdb/tcbtest
/tcejdb/tcfmgr
/tcejdb/tcfmttest
/tcejdb/tcftest
/tcejdb/tchmgr
/tcejdb/tchmttest
/tcejdb/tchtest
/tcejdb/tctmgr
/tcejdb/tctmttest
/tcejdb/tcttest
/tcejdb/tcucodec
/tcejdb/tcumttest
/tcejdb/tcutest
/tcejdb/tcejdb.pc

/tcejdb/nbproject/private
/tcejdb/static
/tcejdb/check.in
/tcejdb/check.out
/tcejdb/casket*
/tcejdb/samples/sample1/sample1
/tcejdb/samples/sample1/addressbook*
/tcejdb/samples/sample1_win32/Debug
/tcejdb/samples/sample1_win32/Release
/tcejdb/samples/sample1_win32/sample1_win32/Debug
/tcejdb/samples/sample1_win32/sample1_win32/Release
/tcejdb/samples/sample1_win32/ipch
/tcejdb/samples/sample1_mingw/nbproject/private

/tcejdb/testejdb/Makefile
/tcejdb/testejdb/dbt*
/tcejdb/testejdb/t1
/tcejdb/testejdb/t2
/tcejdb/testejdb/t3
/tcejdb/testejdb/t4
/tcejdb/testejdb/test*

*/nbproject/private/*

/build
/var

libtcejdb9*.deb
libtcejdb_*.dsc
libtcejdb_*.tar.gz
libtcejdb_*.build
libtcejdb_*.changes


tcejdb/debian/files
tcejdb/debian/*.log
tcejdb/debian/*.substvars
tcejdb/debian/libtcejdb9*/
tcejdb/debian/tmp/*
tcejdb/debian/*.debhelper

compilation.db
.clang/
ejdb.workspace.session
.codelite/
