Makefile
tcejdb/generated/

CMakeCache.txt
CMakeFiles
cmake_install.cmake
compile_commands.json
compilation.db

.codelite
.idea
.dep.inc


*.iml
*.o
*.vlog
*.log
*.status
*.dylib
*.upload
*.so
*.so.*
*.a
*.exp
*.exe
*.sdf
*.suo
*.def
*.exp
*.lib
*.zip
*.cache
*.tag.gz
*.tgz
*.pyc
*.tags


