*.o
*.vlog
*.iml
*.upload

nbproject/

/pyejdb

/misc
/node/nodejs
/.idea
/tcejdb/static

/tcejdb/doc
/tcejdb/deb
/tcejdb/Makefile
/tcejdb/autom4te.cache
/tcejdb/config.log
/tcejdb/config.status
/tcejdb/libtcejdb.a
/tcejdb/libtcejdb.so
/tcejdb/libtcejdb.so.9
/tcejdb/libtcejdb.so.9.11.0
/tcejdb/tcamgr
/tcejdb/tcamttest
/tcejdb/tcatest
/tcejdb/tcawmgr.cgi
/tcejdb/tcbmgr
/tcejdb/tcbmttest
/tcejdb/tcbtest
/tcejdb/tcfmgr
/tcejdb/tcfmttest
/tcejdb/tcftest
/tcejdb/tchmgr
/tcejdb/tchmttest
/tcejdb/tchtest
/tcejdb/tctmgr
/tcejdb/tctmttest
/tcejdb/tcttest
/tcejdb/tcucodec
/tcejdb/tcumttest
/tcejdb/tcutest
/tcejdb/tcejdb.pc
/tcejdb/check.in
/tcejdb/check.out
/tcejdb/casket*
/tcejdb/samples/sample1/sample1
/tcejdb/samples/sample1/addressbook*

/tcejdb/testejdb/dbt*
/tcejdb/testejdb/t1
/tcejdb/testejdb/t2
/tcejdb/testejdb/t3

/build
/var

libtcejdb9*.deb
libtcejdb_*.dsc
libtcejdb_*.tar.gz
libtcejdb_*.build
libtcejdb_*.changes

/tcejdb/debian/


/pyejdb

