*.o
*.vlog
*.status
*.log
*.dylib
*.upload
*.rock
*.so
*.so.*
*.a
*.dll
*.exp
*.exe
*.sdf
*.suo
*.def
*.expm
*.lib
*.zip
*.tag.gz
*.tgz
*.cache
*.deb
*.dsc
*.build
*.changes
*.pyc
*.tags
.dep.inc
*/nbproject/private/*
/ejdbdll
/node_modules
/configure.gypi

addressbook*
/.idea/workspace.xml

/tcejdb/bros
/tcejdb/doc
/tcejdb/mxe
/tcejdb/i686-w64-mingw32
/tcejdb/x86_64-w64-mingw32
/tcejdb/tools
/tcejdb/Makefile
/tcejdb/libtcejdb.a
/tcejdb/libtcejdb.so
/tcejdb/libtcejdb.so.9
/tcejdb/libtcejdb.so.9.11.0
/tcejdb/tcamgr
/tcejdb/tcamttest
/tcejdb/tcatest
/tcejdb/tcawmgr.cgi
/tcejdb/tcbmgr
/tcejdb/tcbmttest
/tcejdb/tcbtest
/tcejdb/tcfmgr
/tcejdb/tcfmttest
/tcejdb/tcftest
/tcejdb/tchmgr
/tcejdb/tchmttest
/tcejdb/tchtest
/tcejdb/tctmgr
/tcejdb/tctmttest
/tcejdb/tcttest
/tcejdb/tcucodec
/tcejdb/tcumttest
/tcejdb/tcutest
/tcejdb/tcejdb.pc
/tcejdb/nbproject/private
/tcejdb/static
/tcejdb/check.in
/tcejdb/check.out
/tcejdb/casket*
/tcejdb/samples/sample1/sample1
/tcejdb/samples/sample1/addressbook*
/tcejdb/samples/sample1_win32/Debug
/tcejdb/samples/sample1_win32/Release
/tcejdb/samples/sample1_win32/sample1_win32/Debug
/tcejdb/samples/sample1_win32/sample1_win32/Release
/tcejdb/samples/sample1_win32/ipch
/tcejdb/samples/sample1_mingw/nbproject/private
/tcejdb/testejdb/Makefile
/tcejdb/testejdb/dbt*
/tcejdb/testejdb/t1
/tcejdb/testejdb/t2
/tcejdb/testejdb/t3
/tcejdb/testejdb/t4
/build
/var
/node/samples/sample1/zoo*
/tcejdb/debian
/pyejdb
/luaejdb
/jejdb
/nejdb
/rbejdb
/goejdb
/misc
/node/nodejs
/node/tests/bench
nbproject
.idea

compilation.db
.clang/
ejdb.workspace.session
ejdb.workspace.anton_adamansky

