Source: lua-ejdb
Section: database
Priority: optional
Maintainer: Anton Adamansky <adamansky@gmail.com>
Build-Depends:
 debhelper (>= 9),
 libtcejdb9-dev (>= 1.1.3),
 luarocks (>= 2.0),
 lua-penlight,
 lua-filesystem
Standards-Version: 3.9.3
Homepage: http://ejdb.org
Vcs-Browser: https://github.com/Softmotions/ejdb
Vcs-Git: https://github.com/Softmotions/ejdb.git

Package: lua51-ejdb
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 libtcejdb9 (>= 1.1.3)
Recommends: lua5.1
Description: Lua binding for EJDB
 EJDB aims to be a fast MongoDB-like library which can be embedded into C/C++/NodeJS/Python/Lua
 applications under terms of LGPL license.
 .
 This package provides a Lua wrapper for EJDB.

