Source: python-ejdb
Section: database
Priority: optional
Maintainer: Anton Adamansky <adamansky@gmail.com>
Build-Depends:
 debhelper (>= 9),
 libtcejdb9-dev (>= 1.1.3),
 python3-dev,
 python3-setuptools,
 python3-pkg-resources
Standards-Version: 3.9.3
X-Python3-Version: >= 3.2
Homepage: http://ejdb.org
Vcs-Browser: https://github.com/Softmotions/ejdb
Vcs-Git: https://github.com/Softmotions/ejdb.git

Package: python3-ejdb
Section: python
Architecture: any
Depends:
 ${misc:Depends},
 python3 (>= 3.2.0),
 ${shlibs:Depends},
 libtcejdb9 (>= 1.1.3)
Provides:
 ${python3:Provides}
Description: Python3 binding for EJDB
 EJDB aims to be a fast MongoDB-like library which can be embedded into C/C++/NodeJS/Python/Lua
 applications under terms of LGPL license.
 .
 This package provides a Python3 wrapper for EJDB.

